<paper-shadow class="card" z="1" hero-id={{everythingHero}} hero>
  <div class="card-container" vertical layout>
    <img class="trip-bg-small" src={{trip.bgPicPath}}>
    <div class="avatar" hero-id={{avatarHero}} hero>
      <img src={{trip.guidePicPath}}>
    </div>
    <div class="title-container" horizontal center-justified layout center>
      <a class="title" >{{trip.tripTitle}}</a>
    </div>
    <div class="details-top" horizontal justified layout center>
      <h5 class="guide-name">{{trip.guideName}}</h5>
      <h6 class="dollars">$$</h6>
    </div>
    <div class="details-bottom" horizontal justified layout center >
      <div class="reviews-container" horizontal layout center >
        <span class="stars">* * * * * </span>
        <span class="reviews"> 25 Reviews</span>
      </div>
      <h6 class="tag">#Adventure</h6>
    </div>
  </div>
</paper-shadow>