<paper-shadow class="card-lg" z="3" hero-id={{everythingHero}} hero>
  <div class="card-container-lg" vertical layout>
    <img class="trip-bg-lg" src={{trip.bgPicPath}}>
    <div class="avatar-lg" hero-id={{avatarHero}} hero>
      <img src={{trip.guidePicPath}}>
    </div>
    <div class="title-container-lg" horizontal center-justified layout center>
      <a class="title-lg" >{{trip.tripTitle}}</a>
    </div>
    <div class="details-top-lg" horizontal justified layout center>
      <h5 class="guide-name-lg">{{trip.guideName}}</h5>
      <h6 class="dollars-lg">$$</h6>
    </div>
    <div class="details-bottom-lg" horizontal justified layout center >
      <div class="reviews-container-lg" horizontal layout center >
        <span class="stars-lg">* * * * * </span>
        <span class="reviews-lg"> 25 Reviews</span>
      </div>
      <h6 class="tag-lg">#Adventure</h6>
    </div>
  </div>
</paper-shadow>